.container-name-filter {
  display: flex;
  height: 40px;
  justify-content: center;
}

.container-filters {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-around;
}
